main li img{
    width: 300px;
    height: 280px;
    object-fit: cover;
}
#page-logo{
    color: rgb(183, 230, 235);
}
header{
    position: static;
}
body{
    background: linear-gradient(40deg,rgb(77,77,77),rgb(58,58,58));
}
main ul{
    width: 1200px;
    margin: 0 auto 48px auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px 20px;
   overflow: hidden;
}
li:nth-of-type(3){
    grid-column:  1 / span 2;
}
main li{
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px black;
    border-radius: 6px;
    overflow: hidden;
    width: 500px;
}
.item-content{
    padding: 24px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.actions{
    text-align:right;
}
.actions a{
    color: rgb(19, 143, 160);
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
}
.actions a :hover{
    background-color: aquamarine;
}
.item-content h2{
    color: ;
}