body{
    font-family: 'Quicksand',sans-serif;
    margin: 0;
}
#page-logo a{
    padding: 10px;
    font-family: 'Oleo Script',sans-serif;
    color: rgb(245,243,160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul a{
    text-decoration: none;
    color: black;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}
header ul{
    display: flex;
}
header li{
    margin-left:20px ;
}

li a{
    color: yellow;
}
 a :hover
 :active{
    color: black;
    background-color: yellow;
}
